* {
	margin: 0;
	padding: 0;
}
header {
	background-color: blueviolet;
	display: flex;
}

main {
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: red;
}
.left{
	background-color: green;
	flex-direction: column;
	display: flex;
	
}

#tag {
	font-weight: 400;
	font-size: 20px;
	padding: 8px;
	text-align: center;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right {
	background-image: url(./images/right.png);
}
.right img {
	justify-content: last baseline;
}
